<html>
<head>
    <title>Notechain</title>

    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/fonts/icomoon-v1.0/style.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="title">
                <span class="icon-link"></span>
                Notechain
            </div>
        </header>
        <main class="content-grid">
            <div></div>
            <div class="content">
                @RenderBody()
            </div>
            <div></div>
        </main>
        <footer class="content-grid">
            <div></div>
            <div class="content">
                &copy; Notechain
            </div>
            <div></div>
        </footer>
    </div>
</body>
</html>

@RenderSection("Scripts", false)